<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reisen.mapper.auto.DiscusstiyuqicaiMapper">
  <resultMap id="BaseResultMap" type="com.reisen.model.auto.Discusstiyuqicai">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="refid" jdbcType="BIGINT" property="refid" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="reply" jdbcType="VARCHAR" property="reply" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
  
     	id,
     	addtime,
     	refid,
     	userid,
     	nickname,
     	content,
   	  	reply
  	
  </sql>
  
  <select id="selectByExample" parameterType="com.reisen.model.auto.DiscusstiyuqicaiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from discusstiyuqicai
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from discusstiyuqicai
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from discusstiyuqicai
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.reisen.model.auto.DiscusstiyuqicaiExample">
    delete from discusstiyuqicai
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.reisen.model.auto.Discusstiyuqicai">
    insert into discusstiyuqicai (
      id,
      addtime,
      refid,
      userid,
      nickname,
      content,
   	  reply
    )
    values (
     	#{id,jdbcType=BIGINT},
     	#{addtime,jdbcType=TIMESTAMP},
     	#{refid,jdbcType=BIGINT},
     	#{userid,jdbcType=BIGINT},
     	#{nickname,jdbcType=VARCHAR},
     	#{content,jdbcType=VARCHAR},
   	  #{reply,jdbcType=VARCHAR}
    )
  </insert>
  
  <insert id="insertSelective" parameterType="com.reisen.model.auto.Discusstiyuqicai">
    insert into discusstiyuqicai
    <trim prefix="(" suffix=")" suffixOverrides=",">
    
      <if test="id != null">
        id,
      </if>
    
      <if test="addtime != null">
        addtime,
      </if>
    
      <if test="refid != null">
        refid,
      </if>
    
      <if test="userid != null">
        userid,
      </if>
    
      <if test="nickname != null">
        nickname,
      </if>
    
      <if test="content != null">
        content,
      </if>
    
      <if test="reply != null">
        reply,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="refid != null">
        #{refid,jdbcType=BIGINT},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="reply != null">
        #{reply,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="countByExample" parameterType="com.reisen.model.auto.DiscusstiyuqicaiExample" resultType="java.lang.Long">
    select count(*) from discusstiyuqicai
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update discusstiyuqicai
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.addtime != null">
        addtime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.refid != null">
        refid = #{record.refid,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.nickname != null">
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.reply != null">
        reply = #{record.reply,jdbcType=VARCHAR},
      </if>
     
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map">
    update discusstiyuqicai
    set
    	 
    	 id = #{record.id,jdbcType=BIGINT},
    	 
    	 addtime = #{record.addtime,jdbcType=TIMESTAMP},
    	 
    	 refid = #{record.refid,jdbcType=BIGINT},
    	 
    	 userid = #{record.userid,jdbcType=BIGINT},
    	 
    	 nickname = #{record.nickname,jdbcType=VARCHAR},
    	 
    	 content = #{record.content,jdbcType=VARCHAR},
    	 
    	 reply = #{record.reply,jdbcType=VARCHAR}
    
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.reisen.model.auto.Discusstiyuqicai">
    update discusstiyuqicai
    <set>
      
      <if test="addtime != null ">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      
      <if test="refid != null ">
        refid = #{refid,jdbcType=BIGINT},
      </if>
      
      <if test="userid != null ">
        userid = #{userid,jdbcType=BIGINT},
      </if>
      
      <if test="nickname != null ">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      
      <if test="content != null ">
        content = #{content,jdbcType=VARCHAR},
      </if>
      
      <if test="reply != null ">
        reply = #{reply,jdbcType=VARCHAR},
      </if>
    </set>
    
    where 
    
    id = #{id,jdbcType=BIGINT}
  
  </update>

	

  <update id="updateByPrimaryKey" parameterType="com.reisen.model.auto.Discusstiyuqicai">
    update discusstiyuqicai
    set 
	  
		addtime = #{addtime,jdbcType=TIMESTAMP},
	  
		refid = #{refid,jdbcType=BIGINT},
	  
		userid = #{userid,jdbcType=BIGINT},
	  
		nickname = #{nickname,jdbcType=VARCHAR},
	  
		content = #{content,jdbcType=VARCHAR},
		
		reply = #{reply,jdbcType=VARCHAR}
	
    where 
    
    id = #{id,jdbcType=BIGINT}
    
  </update>
  
   
</mapper>